# App
ENVIRONMENT=development
DEBUG=False
SECRET_KEY=generate-with-python-c-import-secrets-print-secrets-token-urlsafe-32

# Database
DB_USER=payflow
DB_PASSWORD=payflow
DB_NAME=payflow
DATABASE_URL=postgresql+asyncpg://payflow:payflow@localhost:5432/payflow

# JWT
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=15
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7